body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.calculator {
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.output {
    margin-bottom: 10px;
    overflow: hidden;
}

input[type="text"] {
    width: 100%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    box-sizing: border-box;
    padding: 0 10px; /* Add padding to prevent overflow */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    width: 100%;
    height: 40px;
    font-size: 20px;
}
